@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="display-4 text-primary font-weight-bold text-left">¡Bienvenidos a Mi Presentación!</h1>
    <p class="lead text-muted text-justify">
        Mi nombre es <strong>Alexander David Paz Rosero</strong> y soy un <strong>Ingeniero de Sistemas</strong> con más de 9 años de experiencia en el desarrollo de software y la optimización de procesos tecnológicos. También soy <strong>Especialista en procesos de desarrollo de Software</strong>, con un enfoque en soluciones eficientes y escalables.
    </p>

    <div class="row mt-4">
        <div class="col-12">
            <p class="h4 text-info font-weight-bold">Formación Académica</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Ingeniero de Sistemas:</strong> Formación técnica sólida en el diseño, implementación y gestión de sistemas informáticos.</li>
                <li class="list-group-item"><strong>Especialista en Procesos de Desarrollo de Software:</strong> Experiencia en la gestión y optimización de procesos para proyectos de software.</li>
                <li class="list-group-item"><strong>Diplomado en Bases de Datos:</strong> Profundización en el diseño, gestión y optimización de bases de datos.</li>
                <li class="list-group-item"><strong>Diplomado en Arquitectura de Software:</strong> Enfoque avanzado en el diseño de sistemas robustos, escalables y eficientes.</li>
            </ul>
        </div>
    </div>

    <div class="mt-5">
        <p class="h3 text-dark font-weight-normal text-justify">
            Actualmente, ocupo el cargo de <strong>Desarrollador Senior</strong>, donde lidero equipos de trabajo en proyectos innovadores y desafiantes. Mi objetivo siempre es superar las expectativas de nuestros clientes, creando soluciones tecnológicas de alta calidad. Mi pasión por el desarrollo de software me lleva a explorar constantemente nuevas tecnologías y metodologías.
        </p>
    </div>

    <div class="mt-5">
        <p class="h5 text-muted text-justify">
            Mi aspiración es seguir creciendo como profesional y continuar adquiriendo nuevas habilidades. Estoy comprometido con la mejora continua y la excelencia en cada proyecto en el que participo. Si te interesa aprender más sobre el desarrollo de aplicaciones web, te invito a explorar más acerca de <a href="https://learn.microsoft.com/aspnet/core" class="text-primary font-weight-bold">cómo construir aplicaciones web con ASP.NET Core</a>.
        </p>
    </div>

    <div class="mt-4">
        <a href="https://www.linkedin.com/in/alexander-paz-0b747569" class="btn btn-success btn-lg" target="_blank">¡Conectemos!</a>
    </div>
</div>

